html {
    font-size: 100%;
    box-sizing: border-box;
}
html,
body {
    overflow-x: hidden;
}
img,
svg {
    display: block;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body,
input,
textarea,
button {
    font-family: "Space Grotesk", sans-serif;
}

body {
    margin: 0;
    background-color: var(--bg-body);
    font-size: var(--fs-18);
    color: var(--text1);
    line-height: 1.56;
}

.bg-less-dark {
    background-color: var(--bg-body2);
}
