:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --bg-body: hsl(0, 0%, 8%);
    --bg-body2: #242424;
    --accent: hsl(153, 71%, 59%);
    --text1: hsl(0, 0%, 100%);
    --text2: hsl(0, 0%, 85%);
    --invalid: hsl(7, 100%, 68%);
}
