@use "../util" as *;

.wrapper {
    width: calc(100% - 2rem);
    max-width: 69.375rem;
    margin-inline: auto;

    @include breakpoint(medium) {
        width: calc(100% - 3.75rem);
    }
}
