@use "../util" as *;

a,
a:visited,
a:active {
    text-decoration: none;
}

a.underline,
button {
    display: inline-block;
    padding-bottom: 0.625rem;
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing: 0.143em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text1);
    text-decoration: none;
    background-image: linear-gradient(
        to right,
        var(--accent) 75%,
        var(--accent) 75%
    );
    background-position: 0 2.1em;
    background-repeat: repeat-x;
    background-size: 8px 2px;
}
h1,
h2,
h3,
p {
    margin-block-start: 0;
}

h1,
h2,
h3 {
    line-height: 1;
}

a:focus-visible,
input:focus-visible,
textarea:focus-visible {
    appearance: none;
    border: none;
    outline: none;
}

.xl {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
    letter-spacing: -0.028em;
    line-height: 1.1;
}

h1 > span {
    background-image: linear-gradient(
        to right,
        var(--accent) 75%,
        var(--accent) 75%
    );
    background-position: 0 1.18em;
    background-repeat: repeat-x;
    background-size: 8px 4px;
}

.bottom-border {
    border-bottom: 1px solid var(--text2) !important;
}

p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
    line-height: 1.5;
    color: var(--text2);
}
