@use "../util" as *;

.contact {
    &__wrapper {
        position: relative;
        padding-block: 1px;
        display: flex;
        flex-direction: column;

        /* Tablet */
        @include breakpoint(medium) {
            width: 27.8125rem;
        }

        /* Pc */
        @include breakpoint(large) {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        /* Pc */
        @include breakpoint(large) {
            margin-block-start: 81px;
            width: 27.8125rem;
        }
    }
    &__text {
        margin-block-start: 60px;
        margin-block-end: 50px;
        display: block;
        text-align: center;
        & > h2 {
            margin-block-end: 20px;
        }

        & > p {
            margin: 0;
        }
        /* Pc */
        @include breakpoint(large) {
            margin-block-start: 81px;
            width: 27.8125rem;
        }
    }

    &__form {
        margin-block-end: 100px;
    }
    &__control {
        position: relative;

        & > input,
        & > textarea {
            resize: none;
            border: none;
            outline: none;
            background-color: transparent;
            border-bottom: 1px solid var(--text2);
            width: 100%;
            color: var(--text1);
            font-size: 1rem;
            line-height: 1.625;
            padding-block: 16px;
            padding-inline: 24px;
        }

        & > textarea {
            display: block;
        }

        & > button {
            transition: all 250ms ease-in-out;
            border: none;
            background-color: transparent;
            &:hover {
                color: var(--accent);
            }
        }

        &.align-right {
            display: flex;
            justify-content: flex-end;
        }

        & > img {
            display: none;
            position: absolute;
            transition: all 1s ease-in-out;
            &#name_invalid-icon {
                top: 50%;
                right: 0;
                translate: -50% -50%;
            }

            &#email_invalid-icon {
                top: 50%;
                right: 0;
                translate: -50% -50%;
            }

            &#message_invalid-icon {
                top: 70%;
                right: 0;
                translate: -50% -50%;
            }
        }

        & > p {
            transition: all 1s ease-in-out;
            display: none;
            font-size: 10px;
            color: var(--invalid);
            position: absolute;
            right: 0;

            &#name_invalid {
                top: 105%;
            }

            &#email_invalid {
                top: 105%;
            }

            &#message_invalid {
                top: 105%;
            }
        }
    }

    &__rings {
        position: absolute;
        left: 0;
        translate: -70%;
        bottom: 16%;
    }
}
