@use "../util" as *;

.header {
    position: relative;
    z-index: 1;
    margin-block-start: 1.25rem;
    @include breakpoint(medium) {
        margin-block-start: 1.875rem;
    }
    @include breakpoint(large) {
        margin-block-start: 2.5rem;
        margin-block-end: 7.9375rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1.875rem;

        @include breakpoint-down(small) {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            gap: 25px;
            .header__home {
                flex: 1 0 100%;
            }
            .header__socials {
                gap: 0 25px;
            }
        }
    }
    &__home {
        display: inline-block;
        text-decoration: none;
        color: var(--text1);
        font-size: 1.5rem;
        font-size: clamp(
            1.5rem,
            1.0229007633587786rem + 2.035623409669211vw,
            2rem
        );
        line-height: 1;
        transition: all 250ms ease-in-out;

        &:hover {
            color: var(--accent);
            transform: scale(1.02);
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 0px 32px;

        & > a:hover > svg > path {
            fill: var(--accent);
        }
        & > a > svg > path {
            transition: all 250ms ease-in-out;
        }

        & > a > svg {
            display: block;
        }
    }
}
