@use "../util" as *;

.skills {
    position: relative;

    &__wrapper {
        padding-block: 2.5rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;

        /* Tablet */
        @include breakpoint(medium) {
            grid-template-columns: repeat(2, 1fr);
            gap: 52px 24px;
            border: none;
            padding-block: 52px 0;
        }

        /* Pc */
        @include breakpoint(large) {
            grid-template-columns: repeat(3, 1fr);
            gap: 58px 30px;
            padding-block-start: 72px;
        }
    }

    &__item {
        text-align: center;
    }

    &__full_row {
        /* Pc */
        @include breakpoint(large) {
            grid-column: span 3;
        }
    }

    &__title {
        font-size: 2rem;
        font-size: clamp(2rem, 0.33rem + 7.11vw, 3rem);
        line-height: 1.17;
        margin-block-end: 2px;
    }

    &__rings {
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: 0 50%;

        /* Tablet */
        @include breakpoint(medium) {
            translate: 40% 50%;
        }

        /* Pc */
        @include breakpoint(large) {
            translate: -40% 50%;
            left: 100%;
        }
    }
}
